<h1>ROOT COMPONENT</h1>
<menu>
  <li><a [routerLink]="['/']">home</a></li>
  <li><a [routerLink]="['en']">en home</a></li>
  <li><a [routerLink]="['manufacturer']">manufacturer</a></li>
  <li><a [routerLink]="['en', 'manufacturer']">en manufacturer</a></li>
  <li><a [routerLink]="['product']">product</a></li>
  <li><a [routerLink]="['en', 'product']">en product</a></li>
  <li><a [routerLink]="['special']">special</a></li>
  <li><a [routerLink]="['en', 'special']">en special</a></li>
</menu>
<hr />

<div class="content"><router-outlet></router-outlet></div>
